body{
    background-image: url("choose.jpg");
}
.sign_in{
    border: 3px solid rgb(253, 253, 253);
    box-shadow: 1px 1px 50px grey;
    border-radius: 5%;
}
.container{
    margin-top: 4%;
    margin-bottom: 7%;
    text-align: center;
    width: 80%;
}

.jumbotron{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(131, 120, 120, 0.308);
}
#img{
    margin-left: 40%;
    text-align: center;
}
.top{
    margin-top: 4%;
    width: 40%;
    margin-left: 30%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-style: normal;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    color: white;
    border: 1.5px solid rgb(253, 253, 253);
    font-size: 1.2em;
}
.button{
    width: 30%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size:30px;
}
.img{
    margin-left: 2%;
}
.h44{
    width: 60%;
    margin-left: 20%;
    border: 3px solid rgb(253, 253, 253);
    box-shadow: 1px 1px 50px grey;
    border-radius: 5%;
    color: rgb(12, 13, 14);
    background-color: azure
}
.h444{
    width: 20%;
    margin-left: 40%;
    border: 3px solid rgb(253, 253, 253);
    box-shadow: 1px 1px 50px grey;
    border-radius: 5%;
    color: rgb(12, 13, 14);
    background-color: azure;
    text-align: center;
}
#white{
    color: aliceblue;
}
textarea {
    max-width: 100%;
}
  
.wrapper {
    width: 500px;
}
  
.table {
    display: block;
    width: 100%;
    color: aliceblue;
}
  
.table-cell {
    display: table-cell;
    background: #E2D8C1;
    vertical-align: top;
    padding: 10px;
}
  
.table-cell.two {
    width: 100%;
    background: #DAC082;
}
  
.table textarea {
    max-width: 100%;
    width: 100%;
    height: 100px
}
