body{
    background-image: url("main3.jpg");
}
.sign_in{
    border: 3px solid rgb(253, 253, 253);
    box-shadow: 1px 1px 50px grey;
    border-radius: 5%;
}
/* .container{
    margin-top: 4%;
    margin-bottom: 7%;
    text-align: center;
    width: 80%;
} */
.container {
    max-width: 820px;
    margin: 0px auto;
    margin-top: 50px;
}
.jumbotron{
    width: 80%;
    margin: 0 auto;
    background-color: rgba(131, 120, 120, 0.308);
}
.top{
    margin-top: 4%;
    width: 40%;
    margin-left: 30%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-style: normal;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    color: #0a0a0a;
    
}
.button{
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size:30px;
}

.img{
    margin-left: 3%;
}
th {text-align: left;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    float: left;
}
button{
    background-color: rgba(253, 250, 252, 0.644);
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: aliceblue !important;
    text-decoration-line: none;
}
.active {
    background-color: #4CAF50;
}

.h44{
    width: 60%;
    margin-left: 20%;
    border: 3px solid rgb(273, 253, 253);
    box-shadow: 1px 1px 50px grey;
    border-radius: 5%;
    color: rgb(12, 13, 14);
    background-color: azure
}
#white{
    color: aliceblue;
}

